*{
    box-sizing: border-box;
    margin: 0;
}

body,html{
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

.navbar-brand img{
    padding: 4px;
}

.nav a:link{
  font-weight: 500;
}

.nav .active{
  background-color: rgb(64, 64, 64);
  border-radius: 4px;
  color: white;
}

.nav a:hover{
  background-color: rgb(64, 64, 64);
  color: white;
  border-radius: 5px;
}

.navbar-brand{
  font-size: 35px;
  letter-spacing: 0.03em;
  color: white;
  text-decoration: none;
}

.navbar-brand:hover{
  color: white;
}

.navbar-brand img{
    padding: 5px; 
    filter: invert(100%);
}

.nav .nav-link{
  color: white;
  letter-spacing: 0.05em;
  margin-top: 2px;
}